{% extends 'layout.html' %}

{% block content %}

<main role="main">
  <div class="table-responsive">
    <table class="table table-hover table-dark text-left">
      <thead>
        <tr>
          <th scope="col">Task name</th>
          <th scope="col">Task tags</th>
        <th scope="col">Task status</th>
        <th scope="col">Assigned to</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
        <td><a href="{% url 'task-detail' task.id %}">{{ task.name }}</a></td>
        <td>
          {% for tag in task.tags.all %}
          <span class="badge badge-secondary"><a href="#">{{ tag }}</a></span>
          {% endfor %}
        </td>
        <td>{{ task.status }}</td>
        <td>{{ task.assigned_to }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
