{% extends 'layout.html' %}
{% load bootstrap4 %}

{% block content %}
<main role="main">
  <div class="jumbotron bg-dark my-4 py-4">
    <div class="container">
      <h2 class="display-5">Filter tasks</h2>
      <form class="form" method="get">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="creator">Creator</label>
            <select class="form-control" id="creator" name="creator">
              {% for creator in filter.form.creator %}
                {{ creator }}
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="assigned_to">Assigned to</label>
            <select class="form-control" id="assigned_to" name="assigned_to">
              {% for assignee in filter.form.assigned_to %}
                {{ assignee }}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status">
              {% for st in filter.form.status %}
                {{ st }}
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="tags" value="{{ filter.form.tags.value|default_if_none:'' }}">
          </div>
        </div>
        {% buttons %}
        <button class="btn btn-primary" type="submit">Search</button>
        <a class="btn btn-danger" href="{% url 'tasks-home' %}">Reset</a>
        {% endbuttons %}
      </form>
    </div>
  </div>
  <ul class="list-unstyled">
    {% for obj in filter.qs %}
    <li class="my-4">
      <div class="card bg-dark">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-grow-1 flex-fill">
              <a href="{% url 'task-detail' obj.id %}">{{ obj.name }}</a>
            </div>
            <div>
              <small class="text-muted">by {{ obj.creator }}</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ obj.description }}</p>
          <small class="text-muted">Assigned to: {{ obj.assigned_to }}</small>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <div class="flex-grow-1 flex-fill">
              Tags:
              {% for tag in obj.tags.all %}
              <span class="badge badge-secondary">
                <a href="{% url 'tasks-home' %}?tags={{ tag.name|default:'' }}">{{ tag }}</a>
              </span>
              {% endfor %}
            </div>
            <div>
              Status: {{ obj.status }}
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</main>
{% endblock %}
