{% extends 'layout.html' %}

{% block content %}
<main role="main">
  <ul class="list-unstyled">
    {% for task in tasks %}
    <li class="my-4">
      <div class="card bg-dark">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-grow-1 flex-fill">
              <a href="{% url 'task-detail' task.id %}">{{ task.name }}</a>
            </div>
            <div>
              <small class="text-muted"> by {{ task.creator }}</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ task.description }}</p>
          <small class="text-muted">Assigned to: {{ task.assigned_to }}</small>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <div class="flex-grow-1 flex-fill">
              Tags:
              {% for tag in task.tags.all %}
              <span class="badge badge-secondary">
                <a href="#">{{ tag }}</a>
              </span>
              {% endfor %}
            </div>
            <div>
                Status: {{ task.get_status_display }}
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
